<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <META HTTP-EQUIV="content-type" CONTENT="text/html;charset=UTF-8" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap">
 
  <title>Pay</title>
  
  <style>
 
 body {
    font-family: 'Rubik', sans-serif!important;
}
@media only screen {
  .logo {
    width: 120px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo img {
    max-width: 100%;
  }

  
.header{
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
    min-height: 72px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}
 .header-container {
    max-width: 100%; 
    padding: 0 15px; 
    
}

.m-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rr-logo {
  margin-left: 38px;
  width: 92px;
}
.order-number{
position: absolute;
left: 74.03%;
top: 38.89%;
bottom: 31.94%;

font-family: Rubik;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;

/* Gray 2 */

color: #4F4F4F;
}


.body-wrapper{
  margin-top: 200px;
  text-align: center;
}

.next-step-bx {
    /* max-width: 652px;
    min-height: 175px;
    background: #F9F9F9;
    border-radius: 6px;
    
    margin: auto;
    margin-bottom: 20px;
    
    margin-left: 310px; */
    padding: 1px 25px 25px 25px;
    
    width: 608px;
    height: 175px;
    left: 416px;
    top: 564px;
    background: #F9F9F9;
    border-radius: 6px;
    text-align: start;
    margin: auto;
    margin-top: 40px;
    }
    
    .next-step-bx h6 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #4F4F4F;
    margin-bottom: 15px;
    }
    .next-step-bx ul {
     margin: 0;
     padding: 0;
    }
    .next-step-bx ul li {
    list-style: none;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #4F4F4F;
    margin-bottom: 15px;
    }
    .next-step-bx ul li img {
        margin-right: 15px;
    }
    .next-step-bx ul li:last-child {
        margin-bottom: 0;
    }
.form-inner{
  width: 325px;
  margin: auto;
}

.form-inner
  h2{

font-weight: 600;
font-size: 24px;
line-height: 28px;
align-items: center;
width: 100%;

color: #4F4F4F;
  }
.flex-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom:1px solid #F1F1F1;
  padding-bottom: 10px;
  padding-top: 10px;

}
.flex-div span{
font-weight: 500;
font-size: 12px;
line-height: 14px;

color: #4F4F4F;
}
.flex-div span.blue-text{
font-weight: 600;
font-size: 16px;
line-height: 19px;
display: block;
margin: 10px 0 20px 0;
color: #2D9CDB;
}

.last-child{
  border-bottom: none;
}

.primary-btn{
    
    padding: 8px 48px;
    background: #1264AD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: #fff;
    border-radius: 50px;
    border:none
}
}
@media only screen and (max-width: 599px) {
  .logo {
    width: 120px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo img {
    max-width: 100%;
  }

  
.header{
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
    min-height: 72px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}
 .header-container {
    max-width: 100%; 
    padding: 0 15px; 
    
}

.m-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rr-logo {
  margin-left: 38px;
  width: 92px;
}
.order-number{
position: absolute;
left: 45.00%;
top: 38.89%;
bottom: 31.94%;

font-family: Rubik;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;

/* Gray 2 */

color: #4F4F4F;
}


.body-wrapper{
  margin-top: 200px;
  text-align: center;
}

.next-step-bx {
    /* max-width: 652px;
    min-height: 175px;
    background: #F9F9F9;
    border-radius: 6px;
    
    margin: auto;
    margin-bottom: 20px;
    
    margin-left: 310px; */
    padding: 1px 25px 25px 25px;
    
    width: 608px;
    height: 175px;
    left: 416px;
    top: 564px;
    background: #F9F9F9;
    border-radius: 6px;
    text-align: start;
    margin: auto;
    margin-top: 40px;
    }
    
    .next-step-bx h6 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #4F4F4F;
    margin-bottom: 15px;
    }
    .next-step-bx ul {
     margin: 0;
     padding: 0;
    }
    .next-step-bx ul li {
    list-style: none;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #4F4F4F;
    margin-bottom: 15px;
    }
    .next-step-bx ul li img {
        margin-right: 15px;
    }
    .next-step-bx ul li:last-child {
        margin-bottom: 0;
    }
.form-inner{
  width: 325px;
  margin: auto;
}

.form-inner
  h2{

font-weight: 600;
font-size: 24px;
line-height: 28px;
align-items: center;
width: 100%;

color: #4F4F4F;
  }
.flex-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom:1px solid #F1F1F1;
  padding-bottom: 10px;
  padding-top: 10px;

}
.flex-div span{
font-weight: 500;
font-size: 12px;
line-height: 14px;

color: #4F4F4F;
}
.flex-div span.blue-text{
font-weight: 600;
font-size: 16px;
line-height: 19px;
display: block;
margin: 10px 0 20px 0;
color: #2D9CDB;
}

.last-child{
  border-bottom: none;
}

.primary-btn{
    
    padding: 8px 48px;
    background: #1264AD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: #fff;
    border-radius: 50px;
    border:none
}
}
  </style>
</head>

<body>

 <div class="header">
 <div class="header-container">
    <div class="row">
      <div class="col-md-3 col-12 m-header">
        <div class="logo" >
          <img src="{{url}}/assets/images/logo.png" />
        </div>
       
      </div>
      <div class="col-md-9 col-12 d-block d-md-block d-lg-block d-sm-block">
      <div class="ecart"  >
          <div class="order-number">Order ID: {{orderNumber}}</div>
        </div>
      </div>
    </div>
  </div>
 </div>
 
    <div class="body-wrapper">
      <div class="container">
          <div class="form-inner">
           
            <form action="{{action}}" method="POST" accept-charset="UTF-8">

             <h2>Payment Request</h2>
             <div class="flex-div">
              <span class="custom-select">
                Total Order Value
              </span>
              <span>
                ₹{{totalAmount}}
              </span>
             </div>
            
              <div class="flex-div">
                <span class="custom-select">
                  Previous Payments
                </span>
                <span>
                  ₹{{paidAmount}}
                </span>
              </div>
              <div class="flex-div last-child">
                <span class="blue-text">
                  Pay now
                </span>
                <span class="blue-text">
                  ₹{{viewAmount}}
                </span>
                 <input type="hidden" name="orderNumber" value="{{orderNumber}}">
                <input type="hidden" name="txnToken" value="{{txnToken}}">
                <input type="hidden" name="amount" value="{{amount}}">

              </div>
              <input class="primary-btn" id='formsubmit' type='submit'
                value='PAY NOW'></input>
            </form>
          </div>

         {{!-- <div class="next-step-bx">
                    <h6>Next Steps: </h6>
                    <ul>
                        <li><img src="{{url}}/assets/images/Call.svg">Homeready representative will call you to explain the next
                            steps and coordinate to start setup</li>
                        <li><img src="{{url}}/assets/images/Key.svg">We will collect the keys to your apartment to start the
                            fitting process.</li>
                        <li><img src="{{url}}/assets/images/truck.svg">See your 'My Account' to keep abreast of the work
                            progress for your apartment</li>
                    </ul>
          </div> --}}
        </div>
    </div>


</body>

</html>

